{% extends "layout.html" %}

{% block title %}
  Blog
{% endblock %}

{% block header %}
  <ul class="navbar-nav">
    {% if g.user %}
      <li class="nav-item">
        <span class="nav-link">{{ g.user['username'] }}</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
      </li>
    {% endif %}
    </ul>
{% endblock %}

{% block main %}
  <h1>New Post</h1>
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
{% endblock %}
