{% extends "layout.html" %}

{% block title %}
  Blog
{% endblock %}

{% block header %}
  <ul class="navbar-nav">
    {% if g.user %}
      <li class="nav-item">
        <span class="nav-link active">{{ g.user['username'] }}</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.logout', post='home') }}">Log Out</a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.register', post='home') }}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login', post='home') }}">Log In</a>
      </li>
    {% endif %}
    </ul>
{% endblock %}

{% block main %}
  <a class="nav-link" href="{{ url_for('blog.post', post='genesis') }}">Genesis</a>
  <a class="nav-link" href="{{ url_for('blog.post', post='secret_of_our_success') }}">On <em>The Secret of Our Success</em></a>
  <a class="nav-link" href="{{ url_for('blog.post', post='zero_to_one') }}">On <em>Zero to One</em></a>
  <a class="nav-link" href="{{ url_for('blog.post', post='fast_cheap_out_of_control') }}">On <em>Fast, Cheap, and Out of Control</em></a>
  <a class="nav-link" href="{{ url_for('blog.post', post='alice_gilgamesh_range') }}">On <em>Alice, Gilgamesh, </em>and <em>Range</em></a>
{% endblock %}
