header {
    /*background-color: rgb(245, 245, 245);*/
    border-bottom: rgb(230, 230, 230) 1px solid;
}

h1 {
    margin: 25px;
}

footer {
    /*background-color: rgb(245, 245, 245);*/
    border-top: rgb(230, 230, 230) 1px solid;
    align-items: center;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.indent {
    text-indent: 2em;
}

#github-img, #linkedin-img {
    height: 20px;
    width: 20px;
}

#email-img {
    height: 30px;
    width: 30px;
}
