{% extends "layout.html" %}

{% block title %}
  About
{% endblock %}

{% block main %}
  <h1 class="center">About Me</h1>
  <p class="indent">
    My name is Tyler McGraw. I was born and raised in Silicon Valley and graduated from Washington University in St. Louis in 2020 with a major in Philosophy - Neuroscience - Psychology and a minor in Computer Science. 
  </p>
  <p class="indent">
    Some of my hobbies include <a href="https://www.instagram.com/p/B512wA5nYNV/">lifting heavy things</a>, watching the Warriors dominate the NBA, skiing, and <a href="https://youtu.be/EjvcAabE-jM?t=186">Sumo wrestling</a>. I also enjoy learning new things - in my free time I a voraciously consume books, blog posts, podcasts, and whatever else I can get my hands on.
  </p>
{% endblock %}
