{% extends "layout.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block main %}
  {% if g.user.username == 'tmcgraw' %}
    <form action="{{ url_for('dashboard') }}" method="post">
      <input class="action" type="submit" value="Refresh">
    </form>
  {% endif %}
  <div class="container">
    <div class="row">
      {% if artists %}
      <div class="col">
        <h2>Top Artists</h2>
        <ol>
          {% for artist in artists %}
            <li>
              <img style="height:20px; width:20px" src={{ artist.image_url }} alt="{{ artist.name }} image">
              <a href={{ artist.spotify_url }}>{{ artist.name }}</a>
            </li>
          {% endfor %}
        </ol>
      </div>
      {% endif %}
      {% if tracks %}
      <div class="col">
        <h2>Top Tracks</h2>
        <ol>
          {% for track in tracks %} 
            <li><a href={{ track.spotify_url }}>{{ track.name }} // {{ track.artist }}</a></li>
          {% endfor %}
        </ol>
      </div>
      {% endif %}
      {% if books %}
      <div class="col">
        <h2>Currently Reading</h2>
        <ul>
          {% for book in books %}
            {% if book.status == 'currently-reading' %}
              <li>
                <a href={{ book.url }}>{{ book.title }} by {{ book.author }}</a><br>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col">
        <h2>Want to Read</h2>
        <ul>
          {% for book in books %} 
            {% if book.status == 'to-read' %}
              <li>
                <a href={{ book.url }}>{{ book.title }} by {{ book.author }}</a><br>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col">
        <h2>Read</h2>
        <ul>
          {% for book in books %} 
            {% if book.status == 'read' %}
              <li>
                <a href={{ book.url }}>{{ book.title }} by {{ book.author }}</a><br>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
