{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %}

{% block main %}
  <h1 class="center">Hello, world.</h1>
  <p class="indent">
    On this site you can find my blog, dashboard, and a collection of projects I have worked on. The blog doesn't focus on a specific topic, I will write about things that I've been thinking about/interest me. The dashboard shows my top Spotify artists and albums as well as books on my Goodreads list. The projects section is self-explanatory and self-referential.
  </p>
{% endblock %}
